<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div style="text-align:center ; margin-top: 20px;">
  <%= link_to "Show this movie", @movie , class: "btn"%>
  <% if session[:sort_column].present? && session[:sort_direction].present? %>
  <%= link_to "Back to movies", movies_path(sort_column: session[:sort_column], sort_direction: session[:sort_direction]) , class: "btn"%>
  <% else %>
  <%= link_to "Back to movies", movies_path , class: "btn"%>
  <% end %>
</div>
