<% content_for :title, "New movie" %>

<h1>New movie</h1>

<%= render "form", movie: @movie %>

<br>

<div style="text-align: center; margin-top: 20px;">
  <% if session[:sort_column].present? && session[:sort_direction].present? %>
  <%= link_to "Back to movies", movies_path(sort_column: session[:sort_column], sort_direction: session[:sort_direction]), class: "btn" %>
  <% else %>
  <%= link_to "Back to movies", movies_path , class: "btn"%>
  <% end %>
</div>
